/*
* styles.css
*
* DataProcessing week 3
* Shan Shan Huang (10768793)
* 
* Style for a bar chart with the expenses (in billion euros) for mental health
* care in the Netherlands from 2001-2016.
*/

.axis path,
.axis line {
fill: none;
stroke: black;
shape-rendering: auto;
}
.axis text {
font-family: Arial;
font-size: 12px;
}

.bar {
fill: pink;
}

/*d3 tool tip (source: http://bl.ocks.org/Caged/6476579)*/
.bar:hover {
fill:plum;
}

.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}